
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f7f7f7;
}

.container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 800px;
}

header.adressHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

header.adressHeader h1 {
  font-size: 24px;
  color: #333;
}

header.adressHeader button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

header.adressHeader button:hover {
  background-color: #0056b3;
}

.adresDefArray {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}

.adress {
  background-color: #f1f1f1;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.adress h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.adress p {
  font-size: 14px;
  margin-bottom: 5px;
  color: #666;
}

.adressEditControls {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.adressEditControls a {
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.adressEditControls a svg {
  width: 16px;
  height: 16px;
}

dialog {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

form p {
  margin-bottom: 10px;
}

form input, form button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modelAddNew , .modelEdit  {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
}

form button {
  background-color: #ccc;
  color: #333;
}

form button:hover {
  background-color: #999;
}